{
  "presets": [
    ["env", {"modules": false, "loose": true}]
  ],
  "plugins": [
    ["import", {
      "libraryName":"@ewt/eutils",
      "libraryDirectory": "src",
      "camel2DashComponentName": false
    }]
  ]
}