.wrapper {
  width: 100%;
  border-radius: 100px;
}
.title {
  font-size: 20px;
  color: 'red';
  text-align: center;
}

.down {
  width: 100px;
  height: 100px;
  background: url('../assets/image/down.jpg') no-repeat;
  background-size:contain;
  margin: auto;
}

.up {
  width: 100px;
  height: 100px;
  background: url('../assets/image/up.jpg') no-repeat;
  background-size:contain;
  margin: auto;
}